{% extends "base.html" %} 
{% block title %}
{{ article.title }} - Mon Super Blog{% endblock %} 
{% block content %}
<article>
  <h2>{{ article.title }}</h2>
  <p>
    <em>Par 
      <a href="{% url 'blogapp:user_profile' username=article.autor.username %}">{{ article.autor.username }}</a>
       le {{ article.created_at|date:"d F Y à H:i" }}</em>
  </p>
  {% if article.created_at != article.updated_at %}
  <p>
    <small>
      Dernière modification le {{ article.updated_at|date:"d F Y à H:i" }}
    </small>
  </p>
  {% endif %}

  <hr />
  <div>
    {{ article.content|linebreaksbr }}
    <!-- linebreaksbr transforme les sauts deligne en <br -->
  </div>
  <hr />

  {% if user.is_authenticated and user == article.autor %}
  <a href="{% url 'blogapp:modify_article' pk=article.pk %}"
    >Modifier cet article</a
  >
  |
  <a href="{% url 'blogapp:delete_article' pk=article.pk %}"
    >Supprimer cet article</a
  >
  {% endif %}
  <br /><br />
  <a href="{% url 'blogapp:home' %}">Retour à la liste des articles</a>
</article>

{# Section pour les commentaires (on l'ajoutera dans la prochaine partie) #}
<section>
  <h3>Commentaires ({{ article.comments.count }})</h3>
  {% if comments %}
  <ul>
    {% for comment in comments %}
    <div class="commentaire-item">
      <p>
        <strong>{{ comment.autor.username }}</strong> le 
        {{ comment.created_at|date:"d F Y à H:i" }} :
      </p>
      <p>{{ comment.content|linebreaksbr }}</p>
    </div>
    {% endfor %}
  </ul>
  {% else %}
  <p>Aucun commentaire pour le moment. Soyez le premier à commenter !</p>
  {% endif %} 
  {% if user.is_authenticated %}
    {% if user != article.autor %}
    <h3>Ajouter un commentaire</h3>
    <form method="post" action="{% url 'blogapp:add_comment' article_pk=article.pk %}">
      {% csrf_token %} 
      {{ comment_form.as_p }}
      <button type="submit">Envoyer</button>
    </form>
    {% else %}
    <p><small><em>Vous ne pouvez pas commenter votre propre article.</em></small></p>
    {% endif %}
  {% else %}
  <p>
    Vous devez être <a href="{% url 'blogapp:login' %}?next={{ request.path }}">connecté</a> pour
    ajouter un commentaire.
  </p>
  {% endif %}

  {% if article.comments.all %}
    {% for comment in article.comments.all %}
      <div style="border: 1px solid #eee; padding: 10px; margin-top: 10px; background-color: #f9f9f9; border-radius: 4px;">
        <p>
               <strong><a href="{% url 'blogapp:user_profile' username=comment.autor.username %}">{{ comment.autor.username }}</a></strong>
               <small>({{ comment.created_at|date:"d M Y, H:i" }})</small> a dit :
           </p>
        <p>{{ comment.content|linebreaksbr }}</p>
      </div>
    {% endfor %}
  {% else %}
      <p>Soyez le premier à commenter cet article !</p>
  {% endif %}
</section>

{% endblock %}
